.flex {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.grilla {
  display: grid;
  grid-template-columns: 200px 200px 200px; /*este es para las columnas */
  grid-template-rows: 200px 200px 200px; /*este es para las filas */
}
